body {
	margin: 0;
	padding: 0;
  background-image: url("../images/texture.jpeg");
  font-weight: 400;
  font-size: 1.8em;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

#page {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1200px;
  text-align: left;
  border-left: 2px solid #f1f1f1;
  border-right: 2px solid #f1f1f1;
  border-top: 2px solid #f1f1f1;
  border-bottom: 2px solid #f1f1f1;
 }

 .news-container {
  background-color: #f0f8ff; /* Light red */
  border-radius: 10px; /* Rounded corners */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 950px;
  margin: 18px;
  float: left;
}
 
 #inner-page{
    padding: 20px 26px 26px 26px;
 }

#main { 
  border-bottom: 1px solid #d9d9d9;
 }

.row-thin {
  margin-left: 2%;
  margin-right: 2%;
}


.img_research {
  /* float: left; */
  width: 320px;
  margin-left: 10px;
  margin-top: 5px;
  box-shadow: 0px 2px 8px #aaa;
}

.links a{
  text-decoration: none;
}

.links a:hover{
  text-decoration: underline;
}

.paper-link{
  margin-right: 5px;
  color: #4CAF50;
}

.code-link{
  margin-right: 5px;
  color: orange;
}

.title-link{
  color: black
}

.slides-link{
  margin-right: 5px;
  color: purple
}

.video-link{
  margin-right: 5px;
  color: pink
}

.blog-link{
  margin-right: 5px;
  color: red;
}


@media only screen and (max-width: 1000px) {
  .flex-col {
    display: none;
  }
}

.date {
  font-style: italic;
  color:brown;
  float:right;
}

h2 {
  font-style: italic;
  border-bottom: 2px solid #cecfcf; 
  padding-bottom: 5px;            
  margin-bottom: 15px;    
  display: block;  
}

ul.my_table{
  list-style:none;
  margin: 0;
  padding: 0 0 10px 15px;
}


ul.my_table.edu_table > li.my_item{
  display: grid;
  grid-template-columns: 90px 1fr;  /* logo列固定宽度 */
  column-gap: 14px;
  align-items: center;              /* 垂直居中 */
  padding: 10px 0;
  clear: both;
}

/* 兼容：img 可能在 li 下，也可能在 li>div 里 */
ul.my_table.edu_table > li.my_item > img,
ul.my_table.edu_table > li.my_item > div > img{
  float: none !important;
  margin: 0 !important;             /* 压掉 inline margin-left/right */
  justify-self: center;
}

/* 内容区排版 */
ul.my_table.edu_table > li.my_item p{
  margin: 0;
  line-height: 1.35;
}

ul.my_table.res_table > li.my_item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 14px;
  align-items: center;           
  padding: 10px 0;
  clear: both;
}

ul.my_table.restable > li.my_item > img,
ul.my_table.res_table > li.my_item > div{
  float: none !important;
  margin: 0 !important;             /* 压掉 inline margin-left/right */
  justify-self: center;
}
